<ng-container *ngIf="feeds$ | async as feeds">
  <ng-template *ngFor="let feed of feeds">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card *ngIf="feed" class="wm-card mat-elevation-z24">
        <mat-card-header>
          <div mat-card-avatar>
            <wm-avatar ></wm-avatar>
          </div>
          <mat-card-title >
            <mat-card-subtitle>
              <!-- display formatted timedate feed was publish -->
              <ng-container *ngIf="feed">
                <span>59 mins</span>
              </ng-container>
  
              <!-- display view status either public or ? -->
              <ng-container *ngIf="feed">
                <!-- Public status Icon -->
                <wm-icon ></wm-icon>
              </ng-container>
            </mat-card-subtitle>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <p [wm-readme]=""></p>
            <p [wm-readme]=""></p>
          </div>
          <img mat-card-image [src]="" alt="Wizdm Photo" />
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="start end">
          <button mat-button>
            <wm-icon></wm-icon>
            Like</button
          >
          <button mat-button>
            <wm-icon [icon]=""></wm-icon>
            Comment</button
          >
          <button mat-button>
            <wm-icon>like</wm-icon>
            Share</button
          >
        </mat-card-actions>
      </mat-card>
    </div>

  </ng-template>
 
</ng-container>

<!-- Localized content -->
<!--ng-container *wmContent="let msgs select 'feed'"-->

<!-- Action Bar (projected in the top toolbar) -->
<!--ng-template wmActionbar let-mobile="isMobile">
    
    <button mat-button [type]="mobile ? 'icon' : 'basic'" color="primary">
      
      <span *ngIf="!mobile">{{ msgs.filter? || 'Sign-out' }}</ng-template>

      <wm-icon [icon]="msgs.filter?.icon || 'filter_list'"></wm-icon>
      
    </button>

  </ng-template-->

<!--/ng-container-->

<!-- List all posts in descending order -->
<!-- <wm-post class="mat-elevation-z3" *ngFor="let post of feeds$ | async" [post]="post"></wm-post> -->
