<!-- <div fxLayout="column" fxLayoutAlign="center center"> -->
    <mat-card fxLayout="row" >
        <mat-card-content style="border: 1px solid red; width: 100%;">
          <mat-list>
            <mat-list-item>
              <div mat-card-avatar mat-line>
                <wm-avatar
                  [src]="'https://images.unsplash.com/photo-1421526053088-51b69c8a8d59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f00bcff27bf4fd8062358af0c28c653&auto=format&fit=crop&w=1946&q=80'">
                </wm-avatar>
              </div>
              <div mat-line fxFlex="15"  style="border: 1px solid red;">
                <span>I am inline</span>
              </div>
            </mat-list-item>
          </mat-list>
         
               
        </mat-card-content>
                
    </mat-card>

<!-- </div> -->
