$wm-pcard-width: 600px !default;
$wm-pcard-height: 50%;
$wm-avatar-size : 48px !default;

.wm-addpost {
  position: relative;
  
  .card__container {
    min-width: $wm-pcard-width;
    height: $wm-pcard-height;
    margin-top: 100px;
  }
  mat-card-content {
    width: 100%;
  }
  .post-entry {
    border-radius: 50px;
    background-color: hsla(0,0%,81.2%,.25);
    width: 100%;
    margin-left: 25px
  }
  .post-modal-entry {
    height: 100%;
    cursor: pointer
  }
}

.wm-dlg-addpost {
  position: relative;
  display: block;
  width: 500px;
  left: 100px;
  // border: 1px solid red;

  .dlg-subheader {
    margin-top: $wm-avatar-size/4;
  }

  .dlg-avatar {
    position: relative;
    height: $wm-avatar-size;

    wm-avatar {
      width: $wm-avatar-size;
      height: $wm-avatar-size;
      line-height: $wm-avatar-size;
      cursor: pointer;
    }
  }
  
  .dlg-header__close {
    wm-icon {
      cursor: pointer;
    }
  }

}
