<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="row" >
        <mat-card-content>
          <mat-list >
            <mat-list-item style="border: 1px solid red;">
              <div mat-card-avatar>
                <wm-avatar
                  [src]="'https://images.unsplash.com/photo-1421526053088-51b69c8a8d59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f00bcff27bf4fd8062358af0c28c653&auto=format&fit=crop&w=1946&q=80'">
                </wm-avatar>
              </div>
              <div  fxFlex="33" class="post-modal-entry">
                <span class="post-entry">I am inline</span>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <!-- <mat-divider></mat-divider> -->
                
    </mat-card>

</div>
